<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html"/>
</head>

<body>

  <p>-- One Way-----</p>
  <div id="one_way">
    <label>Enter name:</label>
    <input type="text"/>
    <p>{{ name | capitalize }} is {{ instrument }}.</p>
  </div>

  <p>-- Two Way-----</p>
  <div id="two_way">
    <label>Enter name:</label>
    <input type="text" v-model="name"/>
    <p>{{ name | capitalize }}'s hobby is {{ hobby }}.</p>
  </div>

  <p>-- Filter-----</p>
  <div id="filter">
    <label>Enter str:</label>
    <input type="text" v-model="str"/>
    <p>str:{{ str }}</p>
    <p>hex:{{ str | to_ascii }}</p>
  </div>

  <p>-- Filter Arg-----</p>
  <div id="filter_arg">
    <label>Enter str:</label>
    <input type="text" v-model="str"/>
    <label>Enter arg:</label>
    <input type="text" v-model="arg"/>
    <p>str:{{ str }}</p>
    <p>arg:{{ arg }}</p>
    <p>str + arg:{{ str | filter_test_arg arg }}</p>
  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="./sampleVue.js"></script>
<script src="./sampleFilter.js"></script>
</html>
